# Pythonのデータ構造

## リストの時間計算量
|機能|時間計算量|
|:--:|:--:|
|要素の挿入|$O(1)$|
|要素の削除|$O(n)$(最悪のケースではリスト全体の反復処理が必要)|
|リストのスライシング|$O(n)$|
|要素の取得|$O(n)$|
|リストのコピー|$O(n)$|

- 要素の追加はリストのサイズとは無関係
- 表中の他の処理はリストサイズに依存する

## タプルの時間計算量
- タプルはイミュータブル(=読み取り専用)のデータ構造。

|機能|時間計算量|
|:--:|:--:|
|要素の追加|$O(1)$|

既存のタプルの最後にデータを追加できると仮定した場合。

## ディクショナリの時間計算量

- 一例として
  - 分散アルゴリズムで、データをキーと値のペアとして保持するときにつかう。


|機能|時間計算量|
|:--:|:--:|
|値またはキーの取得|$O(1)$|
|値またはキーの設定|$O(1)$|
|ディクショナリのコピー|$O(n)$|

In [6]:
aList = ["John", 33, "Toronto", True]
print(aList)

['John', 33, 'Toronto', True]

In [10]:
bin_colors = ["Red", "Green", "Blue", "Yellow"]
print(bin_colors[2:])
print(bin_colors[:-1])

['Blue', 'Yellow']
['Red', 'Green', 'Blue']

In [12]:
for aColor in bin_colors:
    print(aColor + " square")

Red square
Green square
Blue square
Yellow square

In [16]:
list(filter(lambda x: x > 100, [1, 2, 3, 99, 100, 101, 102]))

[101, 102]

In [17]:
list(map(lambda x: x * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [23]:
from functools import reduce


def doSum(x1, x2):
    return x1 + x2


reduce(doSum, range(101))

5050

In [33]:
import pandas as pd

df = pd.DataFrame(
    [
        ["1", "Fares", 32, True],
        ["2", "Elena", 23, False],
        ["3", "Steven", 40, True],
    ]
)

df.columns = ["id", "name", "age", "decision"]
df

  id    name  age  decision
0  1   Fares   32      True
1  2   Elena   23     False
2  3  Steven   40      True

In [30]:
df[["name","age"]]

     name  age
0   Fares   32
1   Elena   23
2  Steven   40